@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

svg,
img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, th, dt {
  font-weight: inherit;
}

article, main, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, picture {
  display: block;
}

:root {
  --color: #000;
  --color-inverse: #fff;
  --color-accent: #61c07b;
  --color-accent-dark: #1BA25B;
  --color-sub: #ADA273;
  --color-sub-dark: #908246;
  --header-height: 3.75rem;
  --breackpoint-md: 768px;
  --gap: 0.75rem;
  --padding-block: 1.5rem;
  --padding-section: 3.125rem;
  --padding-page: 6.25rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --header-height: 7.5rem;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --gap: 1rem;
    --padding-block: 2.5rem;
    --padding-section: 5rem;
    --padding-page: 12.5rem;
  }
}

.is-section-dark,
.is-nav-open {
  --color: #fff;
}

/*----------------------------------------------------
	フォーム
----------------------------------------------------*/
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

input,
select,
label {
  vertical-align: middle;
  color: #000;
}

[type=text] {
  line-height: normal;
}

input[type=text],
input[type=email],
input[type=tel],
button {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  color: #000;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

input[type=submit],
button {
  cursor: pointer;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
}

*:focus {
  outline: none;
}

/*----------------------------------------------------
	フォント
----------------------------------------------------*/
html {
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  html {
    font-size: 2.1333333333vw;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.1713030747vw;
  }
}
@media screen and (min-width: 1681px) {
  html {
    font-size: 19.6778916545px;
  }
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  color: var(--color);
}

.serif {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ 明朝", serif;
}

/*----------------------------------------------------
	レスポンシブ
----------------------------------------------------*/
@media screen and (min-width: 641px) {
  .sp {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .sp-tab {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .pc {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .pc-tab {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .tab {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .tab {
    display: none;
  }
}

/*----------------------------------------------------
	リンク
----------------------------------------------------*/
a {
  color: var(--color);
  text-decoration: none;
  -webkit-transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1);
  transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1);
  transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1);
  transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1);
}
a img {
  -webkit-transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), opacity 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-transform 0.3s cubic-bezier(0.37, 0, 0.63, 1);
  transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), opacity 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-transform 0.3s cubic-bezier(0.37, 0, 0.63, 1);
  transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), opacity 0.3s cubic-bezier(0.37, 0, 0.63, 1), box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1), transform 0.3s cubic-bezier(0.37, 0, 0.63, 1);
  transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1), background 0.3s cubic-bezier(0.37, 0, 0.63, 1), border 0.3s cubic-bezier(0.37, 0, 0.63, 1), opacity 0.3s cubic-bezier(0.37, 0, 0.63, 1), box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1), transform 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-box-shadow 0.3s cubic-bezier(0.37, 0, 0.63, 1), -webkit-transform 0.3s cubic-bezier(0.37, 0, 0.63, 1);
}
@media (hover: hover) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
@media (hover: none) {
  a, button {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
}
[data-scroll-target] {
  content: "";
  display: block;
  position: relative;
  pointer-events: none;
  top: calc(-1 * var(--header-height));
}

/*----------------------------------------------------
	コンテナ
----------------------------------------------------*/
.l-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1680px;
}
@media screen and (max-width: 640px) {
  .l-container {
    padding-left: 5.3333333333vw;
    padding-right: 5.3333333333vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 1023px) {
  .l-container {
    padding-left: 10.6666666667vw;
    padding-right: 10.6666666667vw;
  }
}
@media screen and (min-width: 1024px) {
  .l-container {
    padding-left: 7.3206442167vw;
    padding-right: 7.3206442167vw;
  }
}
@media screen and (min-width: 1681px) {
  .l-container {
    padding-left: 116.6666666667px;
    padding-right: 116.6666666667px;
  }
}

/*----------------------------------------------------
	body
----------------------------------------------------*/
html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
}
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.l-body-wrap {
  width: 100%;
  min-height: 100%;
  background: #fff;
}
@media screen and (max-width: 1023px) {
  .l-body-wrap {
    overflow: hidden;
  }
}

/*----------------------------------------------------
	l-header-drawer
----------------------------------------------------*/
.l-header-drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 480;
  color: var(--color);
  background: #142a26;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: cubic-bezier(0.5, 1, 0.89, 1) 0.3s;
  transition: cubic-bezier(0.5, 1, 0.89, 1) 0.3s;
}
.is-nav-open .l-header-drawer {
  opacity: 1;
  pointer-events: auto;
}

.l-header-drawer__wrap {
  padding: 5rem 1.25rem 3.125rem;
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.l-header-drawer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.l-header-drawer-nav-item__title {
  font-weight: bold;
}

.l-header-drawer-nav-item__list {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.l-header-drawer-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  font-weight: bold;
}

.l-header-drawer-copyright {
  font-size: 0.75rem;
  text-align: center;
}

/*----------------------------------------------------
	ヘッダー メニュー
----------------------------------------------------*/
@media screen and (max-width: 1023px) {
  .l-header-menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 550;
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
    mix-blend-mode: difference;
  }
  .l-header-menu div {
    position: relative;
  }
  .l-header-menu span {
    display: block;
    position: absolute;
    height: 1px;
    width: 1.5rem;
    background: #fff;
    left: 1.125rem;
    -webkit-transition: top 0.35s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0s cubic-bezier(0.5, 1, 0.89, 1);
    transition: top 0.35s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0s cubic-bezier(0.5, 1, 0.89, 1);
    transition: top 0.35s cubic-bezier(0.5, 1, 0.89, 1), transform 0s cubic-bezier(0.5, 1, 0.89, 1);
    transition: top 0.35s cubic-bezier(0.5, 1, 0.89, 1), transform 0s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0s cubic-bezier(0.5, 1, 0.89, 1);
  }
  .l-header-menu span:nth-child(1) {
    top: calc(50% - 0.375rem);
  }
  .l-header-menu span:nth-child(2) {
    top: 50%;
  }
  .l-header-menu span:nth-child(3) {
    top: calc(50% + 0.375rem);
  }
  .l-header-menu.is-nav-open span {
    -webkit-transition: top 0.2s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.3s 0.2s cubic-bezier(0.5, 1, 0.89, 1);
    transition: top 0.2s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.3s 0.2s cubic-bezier(0.5, 1, 0.89, 1);
    transition: top 0.2s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s 0.2s cubic-bezier(0.5, 1, 0.89, 1);
    transition: top 0.2s cubic-bezier(0.5, 1, 0.89, 1), transform 0.3s 0.2s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.3s 0.2s cubic-bezier(0.5, 1, 0.89, 1);
  }
  .l-header-menu.is-nav-open span:nth-child(1) {
    top: 50%;
    -webkit-transform: scale(-1, -1) rotate(-35deg);
            transform: scale(-1, -1) rotate(-35deg);
  }
  .l-header-menu.is-nav-open span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .l-header-menu.is-nav-open span:nth-child(3) {
    top: 50%;
    -webkit-transform: scale(-1, -1) rotate(35deg);
            transform: scale(-1, -1) rotate(35deg);
  }
}

/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
.l-header-logo {
  position: fixed;
  left: 1.25rem;
  top: 1.25rem;
  z-index: 500;
  mix-blend-mode: difference;
}
.l-header-logo img {
  width: 7.5rem;
}
@media screen and (min-width: 1024px) {
  .l-header-logo {
    left: 6.25rem;
    top: 2rem;
  }
  .l-header-logo img {
    width: 13.2425rem;
  }
}

.l-header-nav {
  position: fixed;
  z-index: 500;
  mix-blend-mode: difference;
  font-size: 0.9375rem;
  right: 6.25rem;
  top: 2.8125rem;
}
.l-header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2.5rem;
}
.l-header-nav a {
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .l-header-nav {
    display: none;
  }
}

/*----------------------------------------------------
	main
----------------------------------------------------*/
/*----------------------------------------------------
	フッター
----------------------------------------------------*/
.l-footer {
  padding: 3.125rem 0 2.5rem;
  color: var(--color);
  background: #142a26;
}
.l-footer a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .l-footer {
    padding: 6.25rem 0 1.25rem;
  }
}

.l-footer__wrap {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .l-footer__wrap {
        grid-template-areas: "logo info nav" "sns info nav" "copyright nav2 nav2";
    -ms-grid-columns: 18.75rem 0 25rem 0 1fr;
    grid-template-columns: 18.75rem 25rem 1fr;
    -ms-grid-rows: auto 2.5rem 1fr 2.5rem auto;
    grid-template-rows: auto 1fr auto;
    gap: 2.5rem 0;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.l-footer-logo {
  text-align: center;
}
.l-footer-logo img {
  width: 11.25rem;
}
@media screen and (min-width: 1024px) {
  .l-footer-logo {
    grid-area: logo;
    text-align: left;
  }
  .l-footer-logo img {
    width: 13.2425rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.l-footer-sns {
  margin-top: -0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.l-footer-sns li {
  width: 2.1875rem;
}
@media screen and (min-width: 1024px) {
  .l-footer-sns {
    grid-area: sns;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.l-footer-info {
  margin-top: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .l-footer-info {
    margin-top: 0;
    grid-area: info;
  }
}

.l-footer-info__title {
  font-weight: bold;
}
.l-footer-info__body {
  margin-top: 1.25rem;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.l-footer-nav {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .l-footer-nav {
    grid-area: nav;
    margin-top: 0;
  }
}

.l-footer-nav-item__title {
  font-weight: bold;
}
.l-footer-nav-item__list {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}
@media screen and (min-width: 1024px) {
  .l-footer-nav-item__list {
    margin-top: 1rem;
    gap: 1rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.l-footer-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .l-footer-nav2 {
    gap: 1.875rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    grid-area: nav2;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.l-footer-copyright {
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .l-footer-copyright {
    grid-area: copyright;
    text-align: left;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1024px){
  .l-footer-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .l-footer-sns {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .l-footer-info {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }
  .l-footer-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
  }
  .l-footer-nav2 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .l-footer-copyright {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	...
----------------------------------------------------*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	p-article
----------------------------------------------------*/
.p-article {
  padding-bottom: var(--padding-section);
}
.p-article__content {
  max-width: 45rem;
  margin-inline: auto;
  padding-top: var(--padding-section);
}
.p-article__related {
  padding-top: var(--padding-section);
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	...
----------------------------------------------------*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	...
----------------------------------------------------*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	.cm-article
----------------------------------------------------*/
.cm-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--padding-section);
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-article-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
}
.cm-article-editor h1:not(:first-child),
.cm-article-editor h2:not(:first-child) {
  margin-top: var(--padding-block);
}
.cm-article-editor h3:not(:first-child) {
  margin-top: var(--gap);
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-article-index {
  padding: 0.625rem 1.25rem;
  background: #fff;
  border: 1px solid #61c07b;
}

.cm-article-index__head {
  font-weight: bold;
  font-size: 1.125rem;
}
@media screen and (min-width: 1024px) {
  .cm-article-index__head {
    font-size: 1.5625rem;
  }
}

.cm-article-index__list {
  padding-top: var(--gap);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2.3333333333;
}
.cm-article-index__list ol ol {
  padding-left: 1em;
}
@media screen and (min-width: 1024px) {
  .cm-article-index__list {
    font-size: 0.9375rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-article-shops {
  max-width: 45rem;
  margin-inline: auto;
}

.cm-article-shops__list {
  padding-top: var(--padding-block);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--padding-section);
}

.cm-article-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}
.cm-article-shop__spec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.375rem 1fr 1.375rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.375rem;
  text-align: center;
}
.cm-article-shop__spec figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.cm-article-shop__spec figcaption {
  font-size: 0.75rem;
}
@media screen and (min-width: 1024px) {
  .cm-article-shop__spec {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
  .cm-article-shop__spec figure img {
    width: 4.6875rem;
  }
}

.cm-article-shop__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.cm-article-shop__info dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cm-article-shop__info dt {
  font-weight: bold;
}
.cm-article-shop__info dd {
  color: #73726e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (min-width: 1024px) {
  .cm-article-shop__info dl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cm-article-shop__info dt {
    width: 8.125rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-article-list__body {
  padding-top: var(--padding-block);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.75rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.75rem;
}
@media screen and (min-width: 1024px) {
  .cm-article-list__body {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-article-hikaku {
  max-width: 45rem;
  margin-inline: auto;
}
.cm-article-hikaku__body {
  padding-top: var(--padding-block);
  overflow: auto;
}
.cm-article-hikaku-table {
  width: 50rem;
}
@media screen and (min-width: 1024px) {
  .cm-article-hikaku-table {
    width: 57.1875rem;
  }
}

.cm-article-hikaku-table__head {
  font-size: 0.8125rem;
  font-weight: bold;
}
.cm-article-hikaku-table__head th {
  position: sticky;
  left: 0;
}
.cm-article-hikaku-table__head th, .cm-article-hikaku-table__head td {
  padding: 0.5rem;
  border: 0.0625rem solid #fff;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.cm-article-hikaku-table__head th {
  background: #ada273;
}
.cm-article-hikaku-table__head td {
  background: #61c07b;
}
@media screen and (min-width: 1024px) {
  .cm-article-hikaku-table__head {
    font-size: 0.9375rem;
  }
}

.cm-article-hikaku-table__body {
  font-size: 0.75rem;
}
.cm-article-hikaku-table__body th {
  position: sticky;
  left: 0;
}
.cm-article-hikaku-table__body th:before {
  content: "";
  position: absolute;
  top: -0.0625rem;
  left: -0.0625rem;
  width: 100%;
  height: 100%;
  border-left: 0.0625rem solid #ccc;
  pointer-events: none;
}
.cm-article-hikaku-table__body th, .cm-article-hikaku-table__body td {
  background: #fff;
  padding: 0.5rem;
  vertical-align: middle;
  text-align: center;
  border: 0.0625rem solid #ccc;
}
.cm-article-hikaku-table__body figure {
  font-weight: bold;
}
.cm-article-hikaku-table__body figure img {
  width: 7.5rem;
}
@media screen and (min-width: 1024px) {
  .cm-article-hikaku-table__body {
    font-size: 0.8125rem;
  }
  .cm-article-hikaku-table__body figure img {
    width: 11.1875rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-article-matome {
  max-width: 45rem;
  margin-inline: auto;
  width: 100%;
}
.cm-article-matome__body {
  padding-top: var(--padding-block);
  overflow: auto;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-article-block {
  max-width: 45rem;
  margin-inline: auto;
  width: 100%;
}
.cm-article-block__body {
  padding-top: var(--padding-block);
  overflow: auto;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	cm-entry
----------------------------------------------------*/
body figure {
  margin-bottom: 0;
}

.cm-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-size: 1rem;
  line-height: 2;
  word-break: break-all;
}
@media screen and (min-width: 1024px) {
  .cm-entry {
    gap: 36px;
  }
}
.cm-entry h1 {
  font-size: 2em;
  margin-top: 0.67em;
  font-weight: bold;
}
.cm-entry h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  font-weight: bold;
}
.cm-entry h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  font-weight: bold;
}
.cm-entry h4 {
  font-size: 1em;
  margin-top: 1.33em;
  font-weight: bold;
}
.cm-entry h5 {
  font-size: 0.83em;
  margin-top: 1.67em;
  font-weight: bold;
}
.cm-entry strong {
  font-weight: bold;
}
.cm-entry em {
  font-style: italic;
}
.cm-entry ul, .cm-entry ol {
  margin-left: 1.5em;
}
.cm-entry li {
  list-style: disc;
}
.cm-entry ol li {
  list-style: decimal;
}
.cm-entry table th {
  font-weight: bold;
}
.cm-entry table th,
.cm-entry table td {
  padding: 0.5em 0.5em;
  border: 1px solid #ccc;
}
.cm-entry a {
  color: #1DA1F2;
  text-decoration: underline;
}
.cm-entry a:hover {
  text-decoration: none;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.editor-styles-wrapper.editor-styles-wrapper.editor-styles-wrapper .wp-block-gallery,
.cm-entry .wp-block-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .editor-styles-wrapper.editor-styles-wrapper.editor-styles-wrapper .wp-block-gallery,
  .cm-entry .wp-block-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	...
----------------------------------------------------*/
.cm-main-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
}
.cm-main-pagination__ctrl {
  font-size: 0;
}
.cm-main-pagination__ctrl a, .cm-main-pagination__ctrl span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.875rem;
  height: 2.875rem;
  background: #fff;
  border: 1px solid #dbd9d7;
}
.cm-main-pagination__ctrl svg {
  width: 1.25rem;
  height: auto;
}
.cm-main-pagination__ctrl a:hover {
  background: #142a26;
  border-color: #142a26;
}
.cm-main-pagination__ctrl a:hover svg {
  fill: #fff;
}
.cm-main-pagination__no {
  font-size: 0.9375rem;
}
.cm-main-pagination__no a, .cm-main-pagination__no span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.875rem;
  height: 2.875rem;
  background: #fff;
  border: 1px solid #dbd9d7;
}
.cm-main-pagination__no a:hover {
  background: #142a26;
  border-color: #142a26;
  color: #fff;
}
.cm-main-pagination__no.is-current span {
  background: #142a26;
  border-color: #142a26;
  color: #fff;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-main-mv {
  position: relative;
}
.cm-main-mv__bg {
  position: relative;
}
.cm-main-mv__bg img {
  aspect-ratio: 375/300;
  -o-object-fit: cover;
     object-fit: cover;
}
.cm-main-mv__bg:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.45);
}
@media screen and (min-width: 1024px) {
  .cm-main-mv__bg img {
    aspect-ratio: 1366/470;
  }
}

.cm-main-mv__wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cm-main-mv__inner {
  padding-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  max-width: 45rem;
  margin-inline: auto;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .cm-main-mv__inner {
    padding-top: 6.25rem;
    gap: 1.25rem;
  }
}

.cm-main-mv__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 7.5rem;
  height: 1.875rem;
  background: #61c07b;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .cm-main-mv__label {
    min-width: 9.375rem;
    height: 2.5rem;
    font-size: 0.9375rem;
  }
}

.cm-main-mv__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .cm-main-mv__title {
    font-size: 3.125rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-main-breadcrumb {
  margin: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 1.25rem;
}
.cm-main-breadcrumb a:hover {
  text-decoration: underline;
}
.cm-main-breadcrumb li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.cm-main-breadcrumb li:not(:last-child):after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: -1.125rem;
  pointer-events: none;
  background: url(../img/ico-angle-right.svg) center center/cover;
}
@media screen and (min-width: 1024px) {
  .cm-main-breadcrumb {
    gap: 0 2.5rem;
  }
  .cm-main-breadcrumb li:not(:last-child):after {
    right: -1.75rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	...
----------------------------------------------------*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	c-btn
----------------------------------------------------*/
.c-btn-square {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13.75rem;
  height: 3.75rem;
  background: #61c07b;
  font-size: 1.0625rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}
.c-btn-square:active {
  -webkit-transform: scale(0.965);
          transform: scale(0.965);
}
@media (hover: hover) {
  .c-btn-square:hover, a:hover .c-btn-square {
    background: var(--color-accent-dark);
  }
}

.c-btn-square--sub {
  background: #a49862;
  -webkit-transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}
.c-btn-square--sub:active {
  -webkit-transform: scale(0.965);
          transform: scale(0.965);
}
@media (hover: hover) {
  .c-btn-square--sub:hover, a:hover .c-btn-square--sub {
    background: var(--color-sub-dark);
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	c-card
----------------------------------------------------*/
.c-card-article__pic {
  position: relative;
  overflow: hidden;
}
a:hover .c-card-article__pic img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.c-card-article__meta {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}
@media screen and (min-width: 1024px) {
  .c-card-article__meta {
    padding-top: 1rem;
    gap: 0.5rem;
  }
}

.c-card-article__date {
  font-size: 0.75rem;
  color: #9a9694;
}
.c-card-article__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .c-card-article__title {
    font-size: 1.25rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-btn__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 1.0625rem;
  color: #fff;
  font-weight: bold;
}
.c-card-btn__link:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}
.c-card-btn__link:hover:before {
  background: rgba(0, 0, 0, 0.75);
}
.c-card-btn__pic img {
  aspect-ratio: 357/107;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-card-btn__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.c-card-btn__ico svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	c-heading
----------------------------------------------------*/
.c-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}
@media screen and (min-width: 1024px) {
  .c-heading {
    gap: 0.25rem;
  }
}

.c-heading__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #61c07b;
}
.c-heading__sub:before {
  pointer-events: none;
  width: 1rem;
  height: 0;
  border: 1px solid #61c07b;
}
.c-heading__sub:after {
  content: "";
  display: block;
  pointer-events: none;
  width: 1rem;
  height: 0;
  border: 1px solid #61c07b;
}
@media screen and (min-width: 1024px) {
  .c-heading__sub {
    gap: 1.5rem;
    font-size: 0.9375rem;
  }
  .c-heading__sub:before {
    width: 2rem;
  }
  .c-heading__sub:after {
    width: 2rem;
  }
}

.c-heading__main {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .c-heading__main {
    font-size: 3.125rem;
  }
}

.c-heading--center {
  text-align: center;
}
.c-heading--center .c-heading__sub {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-heading--center .c-heading__sub:before, .c-heading--center .c-heading__sub:after {
  content: "";
  display: block;
  border: 1px solid #61c07b;
}
.c-heading--right {
  text-align: right;
}
.c-heading--right .c-heading__sub {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.c-heading--right .c-heading__sub:after {
  display: none;
}
.c-heading--right .c-heading__sub:before {
  content: "";
  display: block;
  border: 1px solid #61c07b;
}
.c-heading--sub .c-heading__sub {
  color: #ADA273;
}
.c-heading--sub .c-heading__sub:before, .c-heading--sub .c-heading__sub:after {
  border-color: #ADA273;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-bar, .cm-article-editor h1,
.cm-article-editor h2 {
  width: 100%;
  background: #61c07b;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  padding: 0.1em 0.6em;
}
@media screen and (min-width: 1024px) {
  .c-heading-bar, .cm-article-editor h1,
  .cm-article-editor h2 {
    font-size: 1.375rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-line, .cm-article-editor h3, .cm-article-shop__title {
  position: relative;
  padding-left: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
}
.c-heading-line:before, .cm-article-editor h3:before, .cm-article-shop__title:before {
  content: "";
  display: block;
  width: 0.3125rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: #61c07b;
}
@media screen and (min-width: 1024px) {
  .c-heading-line, .cm-article-editor h3, .cm-article-shop__title {
    font-size: 1.125rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------
	c-paragraph
----------------------------------------------------*/
.c-paragraph, .l-header-drawer-nav-item, .l-header-drawer-nav2, .l-footer-info, .l-footer-nav-item, .l-footer-nav2, .cm-article-editor, .cm-article-shop__desc, .cm-article-shop__info, .cm-main-breadcrumb {
  font-size: 0.875rem;
  line-height: 1.7333333333;
}
@media screen and (min-width: 1024px) {
  .c-paragraph, .l-header-drawer-nav-item, .l-header-drawer-nav2, .l-footer-info, .l-footer-nav-item, .l-footer-nav2, .cm-article-editor, .cm-article-shop__desc, .cm-article-shop__info, .cm-main-breadcrumb {
    font-size: 0.9375rem;
  }
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  */
}

/* Common Styles */
/* Bullets */
/* Progress */
/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
.bold,
.strong {
  font-weight: bold;
}

.u-hide {
  display: none;
}

.u-breakLine {
  display: inline-block;
}

.u-center {
  text-align: center;
}

.u-only-sp {
  display: block !important;
}
@media screen and (min-width: 641px) {
  .u-only-sp {
    display: none !important;
  }
}

.u-only-pc {
  display: none !important;
}
@media screen and (min-width: 641px) {
  .u-only-pc {
    display: block !important;
  }
}

.u-accent-color {
  color: var(--accent-color);
}

.u-template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  padding-bottom: 6.25rem;
}
.u-template > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.u-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--gap);
}

.is-disabled {
  opacity: 0.7;
  pointer-events: none;
}

.u-budoux {
  word-break: keep-all;
  overflow-wrap: anywhere;
}

[data-delay="0.1"] {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

[data-delay="0.2"] {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

[data-delay="0.3"] {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

[data-delay="0.4"] {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

[data-delay="0.5"] {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

[data-delay="0.6"] {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

[data-delay="0.7"] {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

[data-delay="0.8"] {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

[data-delay="0.9"] {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

[data-delay="1"] {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

[data-delay="1.1"] {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

[data-delay="1.2"] {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

[data-delay="1.3"] {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

[data-delay="1.4"] {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

[data-delay="1.5"] {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

[data-delay="1.6"] {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

[data-delay="1.7"] {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

[data-delay="1.8"] {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

[data-delay="1.9"] {
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
}

[data-delay="2"] {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

[data-delay="2.1"] {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

[data-delay="2.2"] {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

[data-delay="2.3"] {
  -webkit-transition-delay: 2.3s;
          transition-delay: 2.3s;
}

[data-delay="2.4"] {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

[data-delay="2.5"] {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

[data-delay="2.6"] {
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

[data-delay="2.7"] {
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}

[data-delay="2.8"] {
  -webkit-transition-delay: 2.8s;
          transition-delay: 2.8s;
}

[data-delay="2.9"] {
  -webkit-transition-delay: 2.9s;
          transition-delay: 2.9s;
}

[data-delay="3"] {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.__loop {
  -webkit-animation: loopLeft linear 30s infinite;
          animation: loopLeft linear 30s infinite;
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.__loop img {
  width: auto;
  max-width: none;
  height: 18.75rem;
}
@media screen and (min-width: 1024px) {
  .__loop {
    -webkit-animation: loopLeft linear 50s infinite;
            animation: loopLeft linear 50s infinite;
  }
  .__loop img {
    height: 32.875rem;
  }
}

@-webkit-keyframes loopLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes loopLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes loopRight {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes loopRight {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}