
/*----------------------------------------------------
	c-card
----------------------------------------------------*/
.c-card-article {
	@include pc {}
}
.c-card-article__link {
	@include pc {}
}
.c-card-article__pic {
	position: relative;
	overflow: hidden;
	a:hover & {
		img {
			transform: scale(1.1);
		}
	}
	@include pc {}
}
.c-card-article__meta {
	padding-top: 8/16+rem;
	display: flex;
	flex-direction: column;
	gap: 4/16+rem;
	@include pc {
		padding-top: 16/16+rem;
		gap: 8/16+rem;
	}
}
.c-card-article__date {
	font-size: 12/16+rem;
	color: #9a9694;
	@include pc {}
}
.c-card-article__title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 16/16+rem;
	font-weight: bold;
	@include pc {
		font-size: 20/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-btn {
	@include pc {}
}
.c-card-btn__link {
	display: flex;
	position: relative;

	font-size: 17/16+rem;
	color: #fff;
	font-weight: bold;
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		background: rgba(0, 0, 0, 0.4);
		transition: $easeDuration $easeTheme;
	}
	&:hover {
		&:before {
			background: rgba(0, 0, 0, 0.75);
		}
	}
	@include pc {}
}
.c-card-btn__pic {
	img {
		aspect-ratio: 357 / 107;
		object-fit: cover;
	}
	@include pc {}
}
.c-card-btn__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10/16+rem;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	@include pc {}
}
.c-card-btn__title {
	@include pc {}
}
.c-card-btn__ico {
	svg {
	    width: 100%;
	    height: auto;
		fill: #fff;
	}
	@include pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/