
/*----------------------------------------------------
	c-paragraph
----------------------------------------------------*/
.c-paragraph {
	font-size: 14/16+rem;
	line-height: (26/15);
	@include pc {
		font-size: 15/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/